.today-activities-todo-activity {
    padding-left: 20px;
    padding-right: 20px;
}

.today-activities-todo-activities-image-container,
.today-activities-todo-activities-grabbed-container {
    display: flex;
    justify-content: center;
}


.today-activities-todo-activity-context {
    display: flex;
    justify-content: center;
}

.today-activities-todo-activities-grabbed {
    font-size: 36px;
    margin-bottom: 24px;
}

.today-activities-todo-activity-context {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
}

.today-activities-todo-activities-image-container {
    object-fit: cover;
    height: 300px;
}

.today-activities-todo-activity-title {
    text-decoration: none;
    color: #4b7dc1;
    font-size: 28px;
    margin-bottom: 20px;
}

.today-activities-todo-activity-title:hover {
    color: skyblue;
}

.today-activities-todo-activity-complete-button-container {
    display: flex;
    align-items: center;
}

.today-activity-list-container {
    margin-left: 200px;
}

.today-activities-todo-activity-title-navlink-container {
    display: flex;
    justify-content: center;
}

.today-activities-todo-activities-container {
    margin-left: 200px;
}

.today-activies-todays-activities-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-bottom: 40px;
}
