.splash-page-demo-user-button {
    border: 1px solid black;
    border-radius: 0;
    padding: 2px;
    font-size: 26px;
    background-color: #4b7dc1;
    color: white;
    margin-bottom: 5px;
}

.splash-page-demo-user-button:hover {
    border: 1px solid #4b7dc1;
    border-radius: 0;
    padding: 2px;
    font-size: 26px;
    background-color: skyblue;
    color: white;
}

.splash-page-get-started-nav-link {
    text-decoration: none;
    font-size: 26px;
    background-color: #4b7dc1;
    border: 1px solid black;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 4px;
    padding-left: 4px;
    font-weight: 600;
}

.splash-page-get-started-nav-link:hover {
    text-decoration: none;
    font-size: 26px;
    background-color: skyblue;
    border: 1px solid black;
    color: white;

}
