.splash-page-demo-user-button {
    border: 1px solid black;
    border-radius: 30%;
    padding: 2px;
    font-size: 26px;
    background-color: #4b7dc1;
    color: white;
}

.splash-page-demo-user-button:hover {
    border: 1px solid #4b7dc1;
    border-radius: 30%;
    padding: 2px;
    font-size: 26px;
    background-color: skyblue;
    color: white;
}
