.splash-page-demo-user-button {
    border: 1px solid black;
    border-radius: 0;
    font-size: 26px;
    background-color: #4b7dc1;
    color: white;
}

.splash-page-demo-user-button:hover {
    border: 1px solid #4b7dc1;
    border-radius: 0;
    font-size: 26px;
    background-color: skyblue;
    color: white;
}

.splash-page-get-started-nav-link {
    text-decoration: none;
    font-size: 26px;
    background-color: #4b7dc1;
    border: 1px solid black;
    color: white;
    font-weight: 600;
    margin-top: 4px;
}

.splash-page-get-started-nav-link:hover {
    text-decoration: none;
    font-size: 26px;
    background-color: skyblue;
    border: 1px solid black;
    color: white;

}

.splash-page-img-answer-container,
.splash-page-img-intro-container,
.splash-page-buttons-container {
    display: flex;

}


.splash-page-intro-paragraph-container,
.splash-page-img-answer-container {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.splash-page-intro-paragraph,
.splash-page-answer-paragraph {
    line-height: 40px;
}

.splash-page-get-started-nav-link-container,
.splash-page-demo-button-container {
    display: flex;
    justify-content: center;
    height: 50px;
}



.splash-page-demo-user-button,
.splash-page-get-started-nav-link {
    width: 400px;
    height: 60px;
}

.splash-page-get-started-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-page-intro-demo-button-container {
    display: grid;
    grid-template: 1fr / 1fr;
}

/* .splash-page-demo-button-container {
    margin-bottom: 10px;
} */

.splash-page-get-started-answer-container {
    display: grid;
    grid-template: 1fr / 1fr;
}

.splash-page-demo-button-container {
    display: flex;
    justify-content: space-between;
}

.splash-page-get-started-nav-link-container,
.splash-page-demobutton-signup-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.splash-page-get-started-nav-link-container {

    margin-top: 20px;
}

.splash-page-demobutton-signup-container {

    margin-bottom: 20px;
}
