.wrong-folder-details-page-container,
.folder-details-page-wrong-folder-explanation-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.folder-details-page-wrong-folder-explanation {
    font-size: 24px;
}
