.activity-form-img-caption-button-form-container {
    display: flex;
    justify-content: space-evenly;
}

.create-activity-form-title-input,
.create-activity-form-context-input,
.create-activity-form-date-input {
    width: 700px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid #4b7dc1;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.activity-form-options-button-container {
    display: flex;
    justify-content: center;
}

.activity-form-add-activity-into {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-form-create-button{
    margin-left: 10px;
}

.create-activity-form-header {
    color: #4b7dc1;
}

.create-activity-form-submit-button {
    width: 100%;
    height: 50px;
    font-size: 24px;
    outline: none;
    border-radius: 0;
    color: white;
    background: #4b7dc1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-activity-form-submit-button:hover {
    background: skyblue;
}

.create-activity-errorsArray {
    color: red;
}


.create-activity-form-submit-button-container {
    display: flex;
    justify-content: center;
}
