.folder-form-new-folder-form-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.folder-form-image-form-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.create-folder-form-errors-array {
    text-decoration: none;
    color: red;
    list-style: none;
    font-size: 24px;
}

.create-folder-form-title-input {
    width: 315px;
    height: 26px;
    margin-bottom: 20px;
    border: 1px solid #4b7dc1;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.create-folder-form-submit-button {
    width: 323px;
    height: 32px;
    font-size: 24px;
    outline: none;
    border-radius: 0;
    color: white;
    background: #4b7dc1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-folder-form-submit-button:hover {
    background-color: skyblue;
}

.folder-form-your-folders-title {
    display: flex;
    align-items: center;
    font-size: 36px;
}

.folder-form-new-button {
    margin-left: 10px;
}

.folder-form-your-folders-title-new-form-button-container {
    display: flex;
    margin-left: 20px;
    justify-content: center;
}
